In [3]:
import numpy as np
import scipy.stats as stats
import pandas as pd
df = pd.read_csv("Print_heads.csv")
df

    S.no  Print_head
0      1        1.13
1      2        1.55
2      3        1.43
3      4        0.92
4      5        1.25
5      6        1.36
6      7        1.32
7      8        0.85
8      9        1.07
9     10        1.48
10    11        1.20
11    12        1.33
12    13        1.18
13    14        1.22
14    15        1.29

In [6]:
data = np.array([1.13,1.55,1.43,0.92,1.25,1.36,1.32,0.85,1.07,1.48,1.20,1.33,1.18,1.22,1.29])
data

array([1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.2 ,
       1.33, 1.18, 1.22, 1.29])

In [7]:
sample_mean = np.mean(data)
sample_std_dev = np.std(data)
n = len(data)
df1 = n-1
print("Sample Mean:",sample_mean)
print("Sample Standard deviation is:",sample_std_dev)

Sample Mean: 1.2386666666666666
Sample Standard deviation is: 0.18661427836285438

# Section-A:Build 99% Confidence Interval Using Sample Standard Deviation

In [17]:
from scipy.stats import norm
#alpha = 1%
ci_99 = norm.interval(0.99,loc=np.mean(data),scale = np.std(data))
print("99% confidence interval for the mean number of characters printed before the print-head fails using the sample standard deviation:",ci_99)

99% confidence interval for the mean number of characters printed before the print-head fails using the sample standard deviation: (0.7579801399989947, 1.7193531933343384)

# T - Distribution:

T - distributoin can be used only when the sample data size is less than 30.

In [11]:
#t distribution for 99% confidence interval
t_value = stats.t.ppf(0.995,df1)
t_value

2.97684273411266

In [12]:
error_sample = t_value*(sample_std_dev / np.sqrt(n))
error_sample

0.14343499802810397

# Section-B:. Build 99% Confidence Interval Using Known Population Standard Deviation

In [13]:
population_std_dev = 0.2

In [14]:
#z-value for 99% confidence interval
z_value = stats.norm.ppf(0.995)
z_value

2.5758293035489004

In [15]:
#Error using known population standard deviation
error_population = z_value*(population_std_dev / np.sqrt(n))
error_population

0.13301525327090588

In [16]:
#alpha value 1%
ci99 = norm.interval(0.99,loc = np.mean(data),scale=population_std_dev)
ci99
print("construct a 99% confidence interval for the mean number of characters printed before failure:",ci99)

construct a 99% confidence interval for the mean number of characters printed before failure: (0.7235008059568865, 1.7538325273764466)